cat <<EOF > requirements.txt
# --- Bases ---
pandas
numpy
scikit-learn

# --- Modelo ---
xgboost

# --- Visualización y Exploración ---
matplotlib
seaborn
jupyterlab

# --- API (para el final) ---
fastapi
"uvicorn[standard]"
EOF